

<div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> Mondia Media Admin<!--<img src="img/logo.png" alt="SmartAdmin">  --></span>
    <!-- END LOGO PLACEHOLDER -->
</div>
<div id="project-context">
  <span class="label">Current Customer:</span>
  <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">
    Administration <i class="fa fa-angle-down"></i>
  </span>

  <ul class="dropdown-menu">
    <li>
      <a href="#">Mondia Media</a>
    </li>
    <li>
      <a href="#">O2 - Telefonica</a>
    </li>
    <li>
      <a href="#">AMX - América Móvil</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#"><i class="fa fa-power-off"></i> Administration</a>
    </li>
  </ul>
</div>

<div class="pull-right">

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
          <span> <a href="login.html" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- multiple lang dropdown : find all flags in the image folder -->
        <ul class="header-dropdown-list hidden-xs">
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img alt="" src="/images/flags/us.png"> <span> English </span> <i class="fa fa-angle-down"></i> </a>
            <ul class="dropdown-menu pull-right">
              <li class="active">
                <a href="javascript:void(0);"><img alt="" src="/images/flags/us.png"> English</a>
              </li>
              <li>
                <a href="javascript:void(0);"><img alt="" src="/images/flags/es.png"> Spanish</a>
              </li>
              <li>
                <a href="javascript:void(0);"><img alt="" src="/images/flags/de.png"> German</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- end multiple lang -->

      </div>