<aside id="left-panel" style="min-height: 1678px;">

 <!-- User info -->
      <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
          
          <a href="javascript:void(0);" id="show-shortcut">
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c0.26.100.100/p100x100/31944_402833347357_1308943_n.jpg" alt="me" class="online"> 
            <span>
              Thomas Langer
            </span>
            <i class="fa fa-angle-down"></i>
          </a> 
          
        </span>
      </div>
     
      <nav>
        <ul class="nav navbar-nav">
        </ul>
      </nav>
      <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>


</aside>

<!--

    <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">Administration</span><b class="collapse-sign"><em class="fa fa-expand-o"></em></b></a>
            <ul>
              <li>
                <a href="general-elements.html">General Elements</a>
              </li>
              <li>
                <a href="buttons.html">Buttons</a>
              </li>
              <li>
                <a href="#">Icons<b class="collapse-sign"><em class="fa fa-expand-o"></em></b></a>
                <ul>
                  <li>
                    <a href="fa.html"><i class="fa fa-plane"></i> Font Awesome</a>
                  </li> 
                  <li>
                    <a href="glyph.html"><i class="glyphicon glyphicon-plane"></i> Glyph Icons </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="grid.html">Grid</a>
              </li>
              <li>
                <a href="treeview.html">Tree View</a>
              </li>
              <li>
                <a href="nestable-list.html">Nestable Lists</a>
              </li>
              <li>
                <a href="jqui.html">JQuery UI</a>
              </li>
            </ul>
          </li>




-->