<aside id="left-panel" style="min-height: 1678px;">

 <!-- User info -->
      <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
          
          <a href="javascript:void(0);" id="show-shortcut">
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c0.26.100.100/p100x100/31944_402833347357_1308943_n.jpg" alt="me" class="online"> 
            <span>
              Thomas Langer
            </span>
            <i class="fa fa-angle-down"></i>
          </a> 
          
        </span>
      </div>
     
      <nav>
        <ul></ul>
      </nav>
      <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>


</aside>

<!--

    <li>
            
          </li>




-->