<a href="#">
  <i class="fa fa-lg fa-fw fa-{{icon}}"></i> 
  <span class="menu-item-parent">{{name}}</span>
  <b class="collapse-sign"><em class="fa fa-expand-o"></em></b>
</a>
<ul>
  <li>
    <a href="general-elements.html">General Elements</a>
  </li>
</ul>